<div [ngClass]="{'summary': page === 6}" class="max-w-2xl w-full mx-auto mt-4 text-white relative">
    <p class="bg-BlackChocolate absolute -top-4 ml-7 z-10 px-5 py-1 w-max border border-KeyLime rounded-md">
        Dodaj nowe zlecenie</p>
    <div class="rounded-md border border-KeyLime relative bg-BlackChocolate">
        <img src="../../../assets/icons/x.svg" alt="ikona zamykania" class="absolute right-0 cursor-pointer mt-5 mr-5" (click)="hideDialog()">
        <div class="flex flex-col items-center">
            <div class="flex mt-16 items-center gap-2">
                <div class="flex flex-col items-center">
                    <button type="button" (click)="this.page = 1" [ngClass]="{'active': page === 1}"
                        class="w-11 h-11 border border-KeyLime rounded-full bg-BlackChocolate text-xl font-bold flex justify-center items-center hover:bg-KeyLime hover:text-BlackChocolate">
                        1</button>
                    <div class="w-max h-max absolute mt-12">
                        <p class="  text-xs">Adres</p>
                    </div>

                </div>

                <hr class="w-9 h-0.5 bg-KeyLime">
                <div class="flex flex-col items-center">
                    <button type="button" (click)="this.page = 2" [ngClass]="{'active': page === 2}"
                        class="w-11 h-11 border border-KeyLime rounded-full bg-BlackChocolate text-xl font-bold flex justify-center items-center hover:bg-KeyLime hover:text-BlackChocolate">
                        2</button>
                    <div class="w-max h-max absolute mt-12">
                        <p class="  text-xs">Klient</p>
                    </div>
                </div>

                <hr class="w-9 h-0.5 bg-KeyLime">
                <div class="flex flex-col items-center">
                    <button type="button" (click)="this.page = 3" [ngClass]="{'active': page === 3}"
                        class="w-11 h-11 border border-KeyLime rounded-full bg-BlackChocolate text-xl font-bold flex justify-center items-center hover:bg-KeyLime hover:text-BlackChocolate">
                        3</button>
                    <div class="w-max h-max absolute mt-12">
                        <p class="text-xs">Firma</p>
                    </div>
                </div>
                <hr class="w-9 h-0.5 bg-KeyLime">
                <div class="flex flex-col items-center">
                    <button type="button" (click)="this.page = 4" [ngClass]="{'active': page === 4}"
                        class="w-11 h-11 border border-KeyLime rounded-full bg-BlackChocolate text-xl font-bold flex justify-center items-center hover:bg-KeyLime hover:text-BlackChocolate">
                        4</button>
                    <div class="w-max h-max absolute mt-12">
                        <p class="text-xs">Urządzenie</p>
                    </div>
                </div>
                <hr class="w-9 h-0.5 bg-KeyLime">
                <div class="flex flex-col items-center">
                    <button type="button" (click)="this.page = 5" [ngClass]="{'active': page === 5}"
                        class="w-11 h-11 border border-KeyLime rounded-full bg-BlackChocolate text-xl font-bold flex justify-center items-center hover:bg-KeyLime hover:text-BlackChocolate">
                        5</button>
                    <div class="w-max h-max absolute mt-12">
                        <p class="text-xs">Zlecenie</p>
                    </div>
                </div>
                <hr class="w-9 h-0.5 bg-KeyLime">
                <div class="flex flex-col items-center">
                    <button type="button" (click)="this.page = 6" [ngClass]="{'active': page === 6}"
                        class="w-11 h-11 border border-KeyLime rounded-full bg-BlackChocolate text-xl font-bold flex justify-center items-center hover:bg-KeyLime hover:text-BlackChocolate">
                        6</button>
                    <div class="w-max h-max absolute mt-12">
                        <p class="text-xs">Podusmowanie</p>
                    </div>
                </div>

            </div>

            <form class="" autocomplete="off" [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                <div formGroupName="address" *ngIf="page ===1">
                    <div class="mt-16">
                        <div *ngIf="this.checked===false" class="mb-3">
                            <p-autoComplete field="name" [minLength]="1" placeholder="Znajdź adres"></p-autoComplete>
                        </div>
                        <div class="p-field-checkbox mb-8 w-80">
                            <p-checkbox formControlName="checkbox" [(ngModel)]="this.checked" [binary]="true"
                                inputId="binary"></p-checkbox>
                            <label for="binary" class=" ml-2">Czy chcesz dodać nowy adres?</label>
                        </div>
                        <div *ngIf="this.checked===true">
                            <span class="p-float-label mb-8">
                                <input formControlName="street" id="float-input" type="text" pInputText>
                                <label for="float-input">Ulica i numer</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="zipCode" mask="99-999"></p-inputMask>
                                <label for="float-input">Kod pocztowy</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <input formControlName="city" id="float-input" type="text" pInputText>
                                <label for="float-input">Miejscowość</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div formGroupName="customer" *ngIf="page ===2">
                    <div class="mt-16">
                        <div *ngIf="this.checked===false" class="mb-3">
                            <p-autoComplete field="name" [minLength]="1" placeholder="Znajdź klienta"></p-autoComplete>
                        </div>
                        <div class="p-field-checkbox mb-8 w-80">
                            <p-checkbox formControlName="checkbox" [(ngModel)]="this.checked" [binary]="true"
                                inputId="binary"></p-checkbox>
                            <label for="binary" class=" ml-2">Czy chcesz dodać nowego klienta?</label>
                        </div>
                        <div *ngIf="this.checked===true">
                            <span class="p-float-label mb-8">
                                <input formControlName="firstName" id="float-input" type="text" pInputText>
                                <label for="float-input">Imię</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <input formControlName="lastName" id="float-input" type="text" pInputText>
                                <label for="float-input">Nazwisko</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="phoneNumber" mask="(+48) 999-999-999"></p-inputMask>
                                <label for="float-input">Numer telefonu</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <input formControlName="email" id="float-input" type="text" pInputText>
                                <label for="float-input">E-mail</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div formGroupName="company" *ngIf="page ===3">
                    <div class="mt-16">
                        <div *ngIf="this.checked===false" class="mb-3">
                            <p-autoComplete field="name" [minLength]="1" placeholder="NIP firmy"></p-autoComplete>
                        </div>
                        <div class="p-field-checkbox mb-8 w-80">
                            <p-checkbox formControlName="checkbox" [(ngModel)]="this.checked" [binary]="true"
                                inputId="binary"></p-checkbox>
                            <label for="binary" class=" ml-2">Czy chcesz dodać nową firmę?</label>
                        </div>
                        <div *ngIf="this.checked===true">
                            <span class="p-float-label mb-8">
                                <input formControlName="name" id="float-input" type="text" pInputText>
                                <label for="float-input">Nazwa</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="tin" mask="9999999999"></p-inputMask>
                                <label for="float-input">NIP</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <input formControlName="street" id="float-input" type="text" pInputText>
                                <label for="float-input">Ulica i numer</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="zipCode" mask="99-999"></p-inputMask>
                                <label for="float-input">Kod pocztowy</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <input formControlName="city" id="float-input" type="text" pInputText>
                                <label for="float-input">Miejscowość</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div formGroupName="device" *ngIf="page ===4">
                    <div class="mt-16">
                        <div *ngIf="this.checked===false" class="mb-3">
                            <p-autoComplete field="name" [minLength]="1" placeholder="Numer katalogowy, seryjny">
                            </p-autoComplete>
                        </div>
                        <div class="p-field-checkbox mb-8 w-80">
                            <p-checkbox formControlName="checkbox" [(ngModel)]="this.checked" [binary]="true"
                                inputId="binary"></p-checkbox>
                            <label for="binary" class=" ml-2">Czy chcesz dodać nowe urządzenie?</label>
                        </div>
                        <div *ngIf="this.checked===true">
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="idFactory" mask="9999"></p-inputMask>
                                <label for="float-input">Numer fabryczny</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="serialNumber" mask="999999"></p-inputMask>
                                <label for="float-input">Numer seryjny</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="idFd" mask="999"></p-inputMask>
                                <label for="float-input">Numer FD</label>
                            </span>
                            <span class="p-float-label mb-8">
                                <p-inputMask formControlName="catalogNumber" mask="9999999999"></p-inputMask>
                                <label for="float-input">Numer katalogowy</label>
                            </span>

                        </div>
                    </div>
                </div>
                <div formGroupName="task" *ngIf="page ===5">
                    <div class="mt-16 flex flex-col gap-8">
                        <span class="p-float-label">
                            <textarea formControlName="description" id="float-input" rows="3" class="w-80"
                                pInputTextarea [autoResize]="true"></textarea>
                            <label for="float-input">Opis</label>
                        </span>
                        <div class="w-80 flex gap-8">
                            <span class="p-float-label">
                                <input formControlName="minPrice" id="float-input" type="number" [style]="{'width': '100% !important'}" pInputText>
                                <label for="float-input">Cena min</label>
                            </span>
                            <span class="p-float-label">
                                <input formControlName="maxPrice" id="float-input" type="number" [style]="{'width': '100% !important'}" pInputText>
                                <label for="float-input">Cena max</label>
                            </span>
                        </div>
                        <div class="w-80 flex gap-8">
                            <div>
                                <p class="text-xs ml-3 -mt-[22px] absolute">Rozpoczęcie</p>
                                <div class="w-36 h-28 rounded-md bg-PineTree text-xl  flex justify-center">
                                    <div class="flex my-auto">
                                        <div class="w-7 flex flex-col">
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronUpHourFrom()"><img
                                                    src="../../../assets/icons/chevron-up.svg"
                                                    alt="strzałka w górę"></button>
                                            <p class="mx-auto w-max">{{this.hours[selectedHourFrom]}}</p>
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronDownHourFrom()"><img
                                                    src="../../../assets/icons/chevron-down.svg"
                                                    alt="strzałka w dół"></button>
                                        </div>
                                        <div class="w-7 my-auto">
                                            <p class="mx-auto w-max">:</p>
                                        </div>
                                        <div class="w-7 flex flex-col">
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronUpMinuteFrom()"><img
                                                    src="../../../assets/icons/chevron-up.svg"
                                                    alt="strzałka w górę"></button>
                                            <p class="mx-auto w-max">{{this.minutes[selectedMinuteFrom]}}</p>
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronDownMinuteFrom()"><img
                                                    src="../../../assets/icons/chevron-down.svg"
                                                    alt="strzałka w dół"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="text-xs ml-3 -mt-[22px] absolute">Zakończenie</p>
                                <div class="w-36 h-28 rounded-md bg-PineTree text-xl  flex justify-center">
                                    <div class="flex my-auto">
                                        <div class="w-7 flex flex-col">
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronUpHourTo()"><img
                                                    src="../../../assets/icons/chevron-up.svg"
                                                    alt="strzałka w górę"></button>
                                            <p class="mx-auto w-max">{{this.hours[selectedHourTo]}}</p>
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronDownHourTo()"><img
                                                    src="../../../assets/icons/chevron-down.svg"
                                                    alt="strzałka w dół"></button>
                                        </div>
                                        <div class="w-7 my-auto">
                                            <p class="mx-auto w-max">:</p>
                                        </div>
                                        <div class="w-7 flex flex-col">
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronUpMinuteTo()"><img
                                                    src="../../../assets/icons/chevron-up.svg"
                                                    alt="strzałka w górę"></button>
                                            <p class="mx-auto w-max">{{this.minutes[selectedMinuteTo]}}</p>
                                            <button type="button" class="w-7 h-7"
                                                (click)="onClickChevronDownMinuteTo()"><img
                                                    src="../../../assets/icons/chevron-down.svg"
                                                    alt="strzałka w dół"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="p-float-label">
                            <input id="readOnly-input" type="text" pInputText [readonly]="true" [value]="this.selectedDay | date: 'dd.MM.YYYY'"/>
                            <label for="float-input">Data</label>
                        </span>
                        <span class="p-float-label">
                            <input id="readOnly-input" type="text" pInputText [readonly]="true"
                                [value]="this.selectedServiceman.name" />
                            <label for="float-input">Serwisant</label>
                        </span>
                    </div>
                </div>
                <div *ngIf="page === 1 || page === 2 || page === 3 || page === 4 || page === 5"
                    class="flex justify-center mt-10 mb-20">
                    <button type="button" class="dropDownShadow" (click)="onClickNextPage()">Dalej</button>
                </div>
                <div *ngIf="page === 6" class="mt-8 mb-10">
                    <div class="mt-16 grid grid-cols-2 gap-8">
                        <div class="flex flex-col gap-8">
                            <div class="w-80 relative">
                                <p
                                    class="bg-BlackChocolate absolute -top-4 ml-3 z-10 px-5 py-1 w-max border border-KeyLime rounded-md  text-sm">
                                    Adres</p>
                                <div class="rounded-md bg-PineTree flex flex-col items-center pt-6 pb-3 ">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs">Ulica i numer</p>
                                        <p class="">{{this.serviceForm.get('address')!.get('street')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Kod pocztowy i miejscowość</p>
                                        <p class="">{{this.serviceForm.get('address')!.get('zipCode')!.value}}
                                            {{this.serviceForm.get('address')!.get('city')!.value}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-80 relative">
                                <p
                                    class="bg-BlackChocolate absolute -top-4 ml-3 z-10 px-5 py-1 w-max border border-KeyLime rounded-md text-sm">
                                    Klient</p>
                                <div class="rounded-md bg-PineTree flex flex-col items-center pt-6 pb-3 ">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs">Imię i nazwisko</p>
                                        <p class="">{{this.serviceForm.get('customer')!.get('firstName')!.value}}
                                            {{this.serviceForm.get('customer')!.get('lastName')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Numer telefonu</p>
                                        <p class="">{{this.serviceForm.get('customer')!.get('phoneNumber')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">E-mail</p>
                                        <p class="">{{this.serviceForm.get('customer')!.get('email')!.value}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-80 relative">
                                <p
                                    class="bg-BlackChocolate absolute -top-4 ml-3 z-10 px-5 py-1 w-max border border-KeyLime rounded-md text-sm">
                                    Firma</p>
                                <div class="rounded-md bg-PineTree flex flex-col items-center pt-6 pb-3 ">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs">Nazwa</p>
                                        <p class="">{{this.serviceForm.get('company')!.get('name')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">NIP</p>
                                        <p class="">{{this.serviceForm.get('company')!.get('tin')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Ulica i numer</p>
                                        <p class="">{{this.serviceForm.get('company')!.get('street')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Kod pocztowy i miejscowość</p>
                                        <p class="">{{this.serviceForm.get('company')!.get('zipCode')!.value}}
                                            {{this.serviceForm.get('company')!.get('city')!.value}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-8">
                            <div class="w-80 relative">
                                <p
                                    class="bg-BlackChocolate absolute -top-4 ml-3 z-10 px-5 py-1 w-max border border-KeyLime rounded-md text-sm">
                                    Urządzenie</p>
                                <div class="rounded-md bg-PineTree flex flex-col items-center pt-6 pb-3">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs">Numer fabryczny</p>
                                        <p class="">{{this.serviceForm.get('device')!.get('idFactory')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Numer seryjny</p>
                                        <p class="">{{this.serviceForm.get('device')!.get('serialNumber')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Numer FD</p>
                                        <p class="">{{this.serviceForm.get('device')!.get('idFd')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Numer katalogowy</p>
                                        <p class="">{{this.serviceForm.get('device')!.get('catalogNumber')!.value}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-80 relative">
                                <p
                                    class="bg-BlackChocolate absolute -top-4 ml-3 z-10 px-5 py-1 w-max border border-KeyLime rounded-md text-sm">
                                    Zlecenie</p>
                                <div class="rounded-md bg-PineTree flex flex-col items-center pt-6 pb-3">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs">Opis</p>
                                        <p class="">{{this.serviceForm.get('task')!.get('description')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Cena</p>
                                        <p class="">{{this.serviceForm.get('task')!.get('minPrice')!.value}} -
                                            {{this.serviceForm.get('task')!.get('maxPrice')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Czas</p>
                                        <p class="">{{this.serviceForm.get('task')!.get('startTime')!.value}} -
                                            {{this.serviceForm.get('task')!.get('endTime')!.value}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Data</p>
                                        <p class="">{{this.selectedDay | date: 'dd.MM.YYYY'}}</p>
                                    </div>
                                    <hr class="w-64 border-none h-0.5 bg-KeyLime opacity-20">
                                    <div class="w-64 py-3">
                                        <p class="font-bold text-xs mb-1">Serwisant</p>
                                        <p class="">{{this.selectedServiceman.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center mt-10">
                        <!-- <button type="submit" pButton label="Zapisz" class="p-button-success" (click)="hideDialog()"></button> -->
                        <button type="submit" class="dropDownShadow" (click)="hideDialog()">Zapisz</button>
                    </div>
                </div>


            </form>

        </div>

    </div>

</div>