<div class="max-w-4xl w-full mx-auto">
    <p class="bg-KeyLime ml-4 px-5 py-1 w-max rounded-t-xl text-2xl">Dodaj nową usługę</p>
    <div class="rounded-2xl border-l-8 border-b-8 border-t border-r border-KeyLime relative bg-BlackChocolate-700">
        <img src="../../../assets/icons/x.svg" alt="ikona zamykania" class="absolute right-0 cursor-pointer mt-5 mr-5">
        <form class="">
            <div class="">
                <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg mt-10">Klient</p>
                <select formControlName="client"
                    class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl">
                    <option *ngFor="let client of this.clients" [ngValue]="client">
                        {{client.name}}
                    </option>
                </select>
                <!-- <p-multiSelect [options]="clients" [(ngModel)]="selectedClient" optionLabel="name"></p-multiSelect> -->
                <div>
                    <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg mt-10">Adres</p>
                    <select formControlName="address"
                        class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl">
                        <option *ngFor="let address of this.addresses; index as iAddress" [ngValue]="address">
                            {{address.streetNumber}}
                        </option>
                    </select>
                </div>
                <div>
                    <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg mt-10">Urządzenie</p>
                    <select formControlName="devices"
                        class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl">
                        <option *ngFor="let device of this.devices" [ngValue]="device">
                            {{device}}
                        </option>
                    </select>
                </div>
                <div>
                    <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg mt-10">Opis</p>
                    <textarea rows="4" cols="50" id=""
                        class="bg-Gainsboro w-80 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl"
                        formControlName="description">
                    </textarea>
                </div>
                <div>
                    <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg mt-10">Data</p>
                    <input
                    type="date"
                    id=""
                    class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl"
                    formControlName="date"
                >
                </div>
                <div>
                    <p class="bg-KeyLime ml-3 px-2 w-max rounded-t-lg mt-10">Rozpoczęcie</p>
                    <input
                    type="time"
                    id=""
                    class="bg-Gainsboro w-36 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl"
                    formControlName="date"
                >
                </div>
                <div>
                    <p class="bg-KeyLime ml-3 px-2 w-max rounded-t-lg mt-10">Zakończenie</p>
                    <input
                    type="time"
                    id=""
                    class="bg-Gainsboro w-36 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl"
                    formControlName="date"
                >
                </div>
                <div>
                    <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg mt-10">Status</p>
                    <select 
                        class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl">
                        <option *ngFor="let status of this.statuses" [ngValue]="status">
                            {{status}}
                        </option>
                    </select>
                </div>
                <!-- <button type="button"
                                            class="h-11 w-80 text-start bg-Gainsboro rounded-3xl pl-5 mt-1 ml-1 font-light text-xl"
                                            (click)="addField('addresses.'+iAddress+'.devices', defaultDevice)">
                                            Dodaj kolejne urządzenie
                                            <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa"
                                                class="inline ml-2">
                                        </button> -->

                <!-- <button type="button"
                        class="h-11 w-70 text-start bg-Gainsboro rounded-3xl pl-5 mt-3 ml-1 font-light text-xl"
                        (click)="addField('addresses', defaultAddress)">
                        Dodaj kolejny adres
                        <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline ml-3">
                    </button> -->

                <button type="submit"
                    class="bg-DarkSeaGreen w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl mb-32">
                    <span class="font-bold text-2xl">DODAJ</span>
                </button>
            </div>
        </form>
    </div>
</div>