<div class="max-w-4xl w-full mx-auto">
    <p class="bg-KeyLime ml-4 px-5 py-1 w-max rounded-t-xl text-2xl">Dodaj nową usługę</p>
    <div class="rounded-2xl border-l-8 border-b-8 border-t border-r border-KeyLime relative bg-BlackChocolate-700">
        <img src="../../../assets/icons/x.svg" alt="ikona zamykania" class="absolute right-0 cursor-pointer mt-5 mr-5">
        <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="mt-20 ">
            <div class="grid grid-cols-2 justify-items-center">
                <div class="flex flex-col gap-5 w-min">
                    <button type="button" class="h-11 text-start bg-Gainsboro rounded-3xl pl-5 max-w-max text-xl">
                        Dodaj nowego klienta
                        <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline mx-1">
                    </button>
                    <div>
                        <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Klient</p>
                        <div
                            class="bg-Gainsboro w-80 h-44 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none p-4 text-xl whitespace-pre-line relative">
                            <img src="../../../assets/icons/switch-vertical.svg" alt="ikona strzałek"
                                class="absolute right-3 cursor-pointer" (click)="onClickDropDown('client')">
                            {{this.showDropDownService.selectedClient}}
                        </div>
                        <div *ngIf="showDropDownService.dropDown.client"
                            class="max-h-96 w-80 border-4 mt-1 border-KeyLime rounded-2xl overflow-y-auto absolute z-10">
                            <div *ngFor="let client of this.clients"
                                class="bg-Gainsboro w-80 h-min pl-3 text-xl hover:bg-KeyLime py-3 border-y-2 border-BlackChocolate "
                                (click)="onSelectClient(client)">
                                {{client.firstName}}<br>
                                {{client.lastName}}<br>
                                {{client.phoneNumber}}<br>
                                {{client.email}}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="h-11 text-start bg-Gainsboro rounded-3xl max-w-max pl-4 text-xl">
                        Dodaj nowy adres klienta
                        <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline mx-1">
                    </button>
                    <div class="">
                        <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Adres</p>
                        <div
                            class="bg-Gainsboro w-80 h-28 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none p-4 text-xl whitespace-pre-line relative">
                            <img src="../../../assets/icons/switch-vertical.svg" alt="ikona strzałek"
                                class="absolute right-3 cursor-pointer" (click)="onClickDropDown('address')">
                            {{this.showDropDownService.selectedAddressString}}
                        </div>
                        <div *ngIf="showDropDownService.dropDown.address"
                            class="max-h-80 w-80 border-4 mt-1 border-KeyLime rounded-2xl overflow-y-auto absolute z-10">
                            <div *ngFor="let address of this.addresses"
                                class="bg-Gainsboro w-80 h-min pl-3 text-xl hover:bg-KeyLime py-3 border-y-2 border-BlackChocolate "
                                (click)="onSelectAddress(address)">
                                {{address.streetNumber}}<br>
                                {{address.zip}}<br>
                                {{address.town}}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="h-11 text-start bg-Gainsboro rounded-3xl max-w-max pl-5 text-xl">
                        Dodaj nowe urządzenie
                        <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline mx-1">
                    </button>
                    <div>
                        <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Urządzenie</p>
                        <div
                            class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none p-1 pl-3 text-xl whitespace-pre-line relative">
                            <img src="../../../assets/icons/switch-vertical.svg" alt="ikona strzałek"
                                class="absolute right-3 cursor-pointer" (click)="onClickDropDown('device')">
                            {{this.showDropDownService.selectedDevice}}
                        </div>
                        <div *ngIf="showDropDownService.dropDown.device"
                            class="max-h-48 w-80 border-4 mt-1 border-KeyLime rounded-2xl overflow-y-auto absolute z-10">
                            <div *ngFor="let device of this.showDropDownService.selectedAddress.devices;index as iDevice;"
                                class="bg-Gainsboro w-80 h-min pl-3 text-xl hover:bg-KeyLime py-3 border-y-2 border-BlackChocolate "
                                (click)="onSelectDevice(iDevice)">
                                {{device}}
                            </div>
                        </div>
                    </div>
                </div>



                <div class="flex flex-col gap-5 w-min">
                    <div>
                        <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Opis</p>
                        <textarea rows="8" cols="50" id=""
                            class="bg-Gainsboro w-80 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none p-3 text-xl"
                            formControlName="description">
                </textarea>
                    </div>
                    <div>
                        <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Data</p>
                        <input type="date" id=""
                            class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-xl"
                            formControlName="date">
                    </div>
                    <div class="flex justify-between">
                        <div>
                            <p class="bg-KeyLime ml-3 px-2 w-max rounded-t-lg">Rozpoczęcie</p>
                            <input type="time" id=""
                                class="bg-Gainsboro w-36 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl"
                                formControlName="commencement">
                        </div>
                        <div>
                            <p class="bg-KeyLime ml-3 px-2 w-max rounded-t-lg">Zakończenie</p>
                            <input type="time" id=""
                                class="bg-Gainsboro w-36 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-2xl"
                                formControlName="termination">
                        </div>
                    </div>
                    <div>
                        <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Serwisant</p>
                        <div
                            class="bg-Gainsboro w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none p-1 pl-3 text-xl whitespace-pre-line relative">
                            <img src="../../../assets/icons/switch-vertical.svg" alt="ikona strzałek"
                                class="absolute right-3 cursor-pointer" (click)="onClickDropDown('serviceman')">
                            {{this.showDropDownService.selectedServiceman}}
                        </div>
                        <div *ngIf="showDropDownService.dropDown.serviceman"
                            class="max-h-96 w-80 mt-1 border-4 border-KeyLime rounded-2xl overflow-y-auto absolute z-10">
                            <div *ngFor="let serviceman of this.serviceTechnicians;"
                                class="bg-Gainsboro w-80 h-min pl-3 text-xl hover:bg-KeyLime py-3 border-y-2 border-BlackChocolate "
                                (click)="onSelectServiceman(serviceman)">
                                {{serviceman.name}}
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="">
                            <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Status</p>
                            <div
                                class="bg-Gainsboro w-44 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none p-1 pl-2 text-xl relative">
                                <img src="../../../assets/icons/switch-vertical.svg" alt="ikona strzałek"
                                    class="absolute right-2 cursor-pointer" (click)="onClickDropDown('status')">
                                {{this.showDropDownService.selectedStatus}}
                            </div>
                            <div *ngIf="showDropDownService.dropDown.status"
                                class="w-min border-4 mt-1 border-KeyLime rounded-2xl absolute z-10">
                                <div *ngFor="let status of this.statuses"
                                    class="bg-Gainsboro w-36 h-min pl-3 text-xl hover:bg-KeyLime py-3 border-y-2 border-BlackChocolate "
                                    (click)="onSelectStatus(status)"
                                    >
                                    {{status}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="bg-KeyLime ml-3 px-3 w-max rounded-t-lg">Cena</p>
                            <input type="text"
                                class="bg-Gainsboro w-32 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl focus:outline-none pl-3 text-xl"
                                formControlName="price">
                        </div>
                    </div>
                </div>
            </div>
            <div class="min-w-max flex justify-center">
                <button type="submit"
                    class="bg-DarkSeaGreen w-80 h-11 border-l-4 border-b-4 border-KeyLime rounded-2xl mb-32 mt-10">
                    <span class="font-bold text-2xl">DODAJ</span>
                </button>
            </div>
        </form>
    </div>
</div>