<div class="max-w-2xl w-full mx-auto mt-5">
    <p
        class="bg-BlackChocolate absolute top-0 ml-7 z-10 px-5 py-1 w-max border border-KeyLime rounded-md text-Gainsboro">
        Dodaj nowy adres</p>
    <div class="rounded-md border border-KeyLime relative bg-BlackChocolate h-52">
        <img src="../../../assets/icons/x.svg" alt="ikona zamykania" class="absolute right-0 cursor-pointer mt-5 mr-5">

        <form class="" [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="">

            <div class="flex ml-36 mt-16 items-center gap-2">
                <div
                    class="w-13 h-13 rounded-full bg-KeyLime text-BlackChocolate text-2xl font-bold flex justify-center items-center">
                    1</div>
                <hr class="w-24 h-0.5 bg-KeyLime">
                <div
                    class="w-13 h-13 border border-KeyLime rounded-full bg-BlackChocolate text-Gainsboro text-2xl font-bold flex justify-center items-center">
                    2</div>
                <hr class="w-24 h-0.5 bg-KeyLime">
                <div
                    class="w-13 h-13 border border-KeyLime rounded-full bg-BlackChocolate text-Gainsboro text-2xl font-bold flex justify-center items-center">
                    3</div>
            </div>
            <span class="p-float-label ml-4 mt-5">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">Ulica i numer</label>
            </span>
        </form>


    </div>

</div>