:host ::ng-deep .p-button {
    background-color: #2C3528;
    color: #D9D9D9;
    border-color: #EAEC76;
    padding-left: 40px;
    padding-right: 40px;
    &:hover{
        background-color: #EAEC76;
        color: #191C17;
    }
}

.active{
    background-color: #EAEC76;
    color: #191C17;
}

:host ::ng-deep .p-inputtext{
    background-color: #D9D9D9;
    border: none;
}	
