<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
    <button type="button" class="customButton mt-4"  (click)="visibleSidebar = false"><img
        src="../../../assets/icons/menu.svg" class="customIcon"></button>
    <!-- <div class="w-80 relative mt-4">
        <p
            class="bg-BlackChocolate absolute -top-4 ml-3 z-10 px-5 py-1 w-max border border-KeyLime rounded-md text-sm">
            Serwisanci</p>
        <div class="rounded-md bg-PineTree flex flex-col items-center pt-6 pb-3">
            <button class="w-max h-10 bg-PineTree-600 px-2 flex items-center rounded-md"> <p-checkbox [binary]="true" inputId="binary"></p-checkbox><p class="pl-2">Andrzej luty</p></button>
        </div>
    </div> -->
</p-sidebar>
<div>
    <div class="flex justify-between py-4 px-5 fixed bg-PineTree w-full z-50 border-b border-KeyLime">
        <div class="w-max">
            <button type="button" class="customButton" (click)="visibleSidebar = true"><img
                    src="../../../assets/icons/menu.svg" class="customIcon"></button>
        </div>
        <div class="flex gap-6 w-max">
            <button type="button"
                class="customButton ml-20"
                (click)="currentDate()">Dziś</button>
            <button type="button" class="customButton" (click)="subtractDay()"><img
                    src="../../../assets/icons/chevron-left.svg" class="customIcon"></button>
            <p-calendar [(ngModel)]="selectedDay" (ngModelChange)="this.onSelectedDay()" inputId="basic"
                dateFormat="dd.mm.yy" [firstDayOfWeek]="1" [readonlyInput]="true"></p-calendar>
            <button type="button" class="customButton" (click)="addDay()"><img
                    src="../../../assets/icons/chevron-right.svg" class="customIcon"></button>
        </div>
        <div class="w-max">
            <div class="rounded-md bg-PineTree-600">
                <button type="button" [ngClass]="{'toggleButtonActive': selectButton === true}"
                    (click)="this.selectButton=!this.selectButton"
                    class="toggleButton">Dzień</button>
                <button type="button" [ngClass]="{'toggleButtonActive': selectButton === false}"
                    (click)="this.selectButton=!this.selectButton"
                    class="toggleButton">Tydzień</button>
            </div>
        </div>
    </div>
    <div class="flex pt-20 relative max-w-6xl mx-auto">
        <div class="w-20">
            <div class="h-12 w-20 border-r border-KeyLime bg-PineTree fixed top-20"></div>
            <div class="h-28 w-20 flex justify-center items-center border-r border-KeyLime bg-PineTree"
                *ngFor="let n of numSequence(16); let i = index;">
                {{i+6}}:00
            </div>
            <div class="h-14 border-r border-KeyLime bg-PineTree">
            </div>
        </div>
        <div class="mt-14">
            <app-schedule></app-schedule>
        </div>
    </div>
</div>