<div class="bg-Gainsboro h-52  rounded-t-3xl">
    <div class="px-9">
        <div class="flex">
            <div class="text-5xl pt-3 pb-8">{{selectedDay}}&nbsp;{{getNameMonthOfYear()}}</div>
            <div class="flex absolute right-9">
                <img src="../../../assets/icons/arrow-circle-left.svg" alt="strzałka w lewo" (click)="subtractMonth()"
                    class="cursor-pointer hover:bg-KeyLime rounded-full mr-2">
                <img src="../../../assets/icons/arrow-circle-right.svg" alt="strzałka w prawo" (click)="addMonth()"
                    class="cursor-pointer hover:bg-KeyLime rounded-full">
            </div>
        </div>

        <div class="flex justify-between">
            <button class="w-12 h-24 grid grid-cols-1 grid-rows-2 place-items-center rounded-xl hover:bg-KeyLime"
                *ngFor="let n of numSequence(days); let i = index;" (click)="chooseDay(i+1)">
                <p class="text-xl">{{getNameDayOfWeek(dayOfWeek(i+1))}}</p>
                <p class="text-2xl">{{ i+1 }}</p>
            </button>
        </div>
    </div>
</div>
<div class="flex">

    <div class="w-20 bg-Gainsboro text-center">
        <div class="h-14 grid grid-cols-1 grid-rows-1 place-items-center border-b-1 border-BlackChocolate">
            godziny
        </div>
        <div class="h-40 grid grid-cols-1 grid-rows-1 place-items-center border-b-1 border-BlackChocolate"
            *ngFor="let n of numSequence(24); let i = index;">
            {{i}}
        </div>
    </div>
    <app-schedule></app-schedule>
    <button class="h-11 w-60 text-start bg-Gainsboro rounded-3xl pl-5 mt-1 ml-1 font-light text-xl"
        (click)="showDialog()">
        Dodaj serwisanta
        <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline">
    </button>

    <p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw',color: 'black'}"
        [contentStyle]="{'background-color': 'transparent','color': '#0C0F0A'}" [showHeader]="false" class="bg-lime">
        <app-add-serviceman [display]="display" (toggle)="display=$event"></app-add-serviceman>
    </p-dialog>
</div>