<div class="flex">
    <div class="w-44 text-center flex flex-col" *ngFor="let n of numSequence(3); let i = index;">
        <div
            class="h-14 grid grid-cols-1 grid-rows-1 place-items-center border-y border-r border-KeyLime border-opacity-70 bg-PineTree max-h-max sticky top-20">
            {{this.servicemans[i]}}
        </div>

        <button type="button" class="h-28 w-full bg-PineTree border-r border-b border-KeyLime border-opacity-20 cursor-pointer"
            *ngFor="let n of numSequence(16); let i = index;" (click)="this.serviceForm=true">
            kliknij...
        </button>

    </div>
    <!-- <div>
        <button
            class="h-11 w-60 text-start bg-Gainsboro rounded-3xl font-light text-xl sticky top-[212px] pl-5 mt-1 ml-1"
            (click)="showDialog()">
            Dodaj serwisanta
            <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline">
        </button>
    </div> -->
</div>
<p-dialog [(visible)]="serviceForm" [modal]="true" [draggable]="false" [resizable]="false"
    [style]="{'max-height': '100%', width: '100%' ,height: '100%', color: 'black' }" [contentStyle]="{'background-color': 'transparent','color': '#0C0F0A'}"
    [showHeader]="false" class="bg-lime">
    <app-add-service [display]="serviceForm" (toggle)="serviceForm=$event"></app-add-service>
</p-dialog>