<button (click)="addMonth()" class="w-[50px] h-[100px] bg-red-500 mr-5">
    "+"
</button>

<button (click)="subtractMonth()" class="w-[50px] h-[100px] bg-red-500">
    "-"
</button>
<div class="bg-Gainsboro h-[200px]  rounded-t-[25px]">
    <div class="max-w-[1848px] mx-auto">
        <div class="text-5xl pt-3 pb-[30px]">{{selectedDay}}&nbsp;{{getNameMonthOfYear()}}</div>
        <div class="flex justify-between">
            <button
                class="w-[50px] h-[100px] bg-red-500 grid grid-cols-1 grid-rows-2 place-items-center rounded-[15px] hover:bg-KeyLime"
                *ngFor="let n of numSequence(days); let i = index;" (click)="chooseDay(i+1)">
                <p class="text-xl">{{getNameDayOfWeek(dayOfWeek(i+1))}}</p>
                <p class="text-2xl">{{ i+1 }}</p>
            </button>
        </div>
    </div>
</div>
<div class="flex">
    
    <div class="w-[72px] bg-Gainsboro text-center">
        <div class="h-[56px] grid grid-cols-1 grid-rows-1 place-items-center border-b-[1px]">
            godziny
        </div>
        <div class="h-[159px] grid grid-cols-1 grid-rows-1 place-items-center border-b-[1px]" *ngFor="let n of numSequence(24); let i = index;">
            {{i}}
        </div>
    </div>
    <button class="h-[45px] w-[240px] text-start bg-Gainsboro rounded-[51px] pl-[19px] mt-[2px] ml-[2px] font-light text-xl">
        Dodaj serwisanta
        <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline pl-[1px]">
    </button>
</div>


<!-- <p>{{returnDaysInMonth()}}</p> -->