<div class="flex">
    <div class="w-44 text-center" *ngFor="let n of numSequence(3); let i = index;">
        <div
            class="h-14 grid grid-cols-1 grid-rows-1 place-items-center border-y border-r border-KeyLime border-opacity-70 bg-PineTree max-h-max sticky top-20 -z-10">
            {{this.servicemans[i]}}
        </div>
        
            <div class="h-28 bg-PineTree border-r border-b border-KeyLime border-opacity-20 relative -z-30"
            *ngFor="let n of numSequence(16); let i = index;">
        
        </div>
        
    </div>
    <!-- <div>
        <button
            class="h-11 w-60 text-start bg-Gainsboro rounded-3xl font-light text-xl sticky top-[212px] pl-5 mt-1 ml-1"
            (click)="showDialog()">
            Dodaj serwisanta
            <img src="../../../assets/icons/plus-circle.svg" alt="ikona plusa" class="inline">
        </button>
    </div> -->
</div>
<!-- <p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false"
    [style]="{width: '50vw',color: 'black'}" [contentStyle]="{'background-color': 'transparent','color': '#0C0F0A'}"
    [showHeader]="false" class="bg-lime">
    <app-add-serviceman [display]="display" (toggle)="display=$event"></app-add-serviceman>
</p-dialog> -->